* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
}

#canvas {
  background-color: #f1f1f1;
  border: 2px solid black;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.color {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.color:active {
  transform: scale(0.9);
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #ffff00;
}